*.aux
*.log
*~
*.out
*.pdf
*.lof
*.lot
*.toc
*.tex
*.bbl
*.blg
report/ltxpng/
*.swp
.\#*
\#*.org\#
*-ubyte
*_lmdb/
build/
experiments/datasets/data/mnist
experiments/mnist/snapshots
experiments/kitti/snapshots/
experiments/scene_recognition/snapshots/
experiments/sf/snapshots/
.ipynb_checkpoints/
*.binaryproto
*.pyc
ILSVRC_*\.txt
results/
snapshots/
*.gif
*.mp4
